<!DOCTYPE html>
<html>

<head>
    <title>KISAAN PORTAL</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="index_external.css">

    <!-- Compiled and minified JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body class="main">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="nv-title">
                    <a class="nav-link" href="#">
                      KISAAN PORTAL
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nv-title"><a class="nav-link" href="index.html">Home</a></div>
            </li>
            <li class="nav-item">
                <div class="nv-title"><a class="nav-link" href="topcharts.html">Top Charts</a></div>
            </li>
            <li class="nav-item">
                <div class="nv-title"><a class="nav-link" href="allcommodities.html">All Commodities</a></div>
            </li>
        </ul>
    </nav>

    <!--
  <h3 class="card-panel #4DD317 amber lighten-2 center valign-wrapper center"><img src="/static/ApnaAnaajLogo.png
" height="70px" width="70px">Apna Anaaj</h3>
    -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>